@keyframes anim-translate {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes home-anim {
  0% {
    transform: translateZ(-100%);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(-25%);
  }

  50% {
    transform: none;
  }

  100% {
    transform: translateX(-25%);
  }
}

@media only screen and (min-width: 768px) {
  i {
    width: 35px;
  }
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}
