@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: #0d0628;
}

.anim-opacity {
  animation: home-anim 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.bloc-anim {
  animation: anim-translate 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.burger {
  width: 50px;
  height: 42px;
  overflow: hidden;
}

i {
  width: 30px;
  height: 3px;
  background: #fff;
  display: block;
  border-radius: 5px;
  margin: 7px;
  transition: all 0.5s ease-in-out;
}

.burger.active i:nth-child(1) {
  transform: rotate(135deg);
  position: absolute;
  top: 18px;
}

.burger.active i:nth-child(2) {
  transform: translate(-20px);
  opacity: 0;
}

.burger.active i:nth-child(3) {
  transform: rotate(-135deg);
  position: absolute;
  top: 18px;
}

.animate-bounce {
  animation: bounce 1s ease-in-out infinite;
}

.blur {
  width: 200px;
  height: 200px;
  background: #bb6ce6;
  position: absolute;
  top: 0;
  right: 15%;
  filter: blur(10rem);
  z-index: -1;
}

.blur2 {
  width: 200px;
  height: 200px;
  background: #3848f1;
  position: absolute;
  left: 0;
  filter: blur(10rem);
  bottom: 0;
  z-index: -1;
}

.menu {
  background: #0d0628f0;
  transition: transform 0.45s cubic-bezier(0.45, 0, 0, 1),
    height 0.5s cubic-bezier(0.45, 0, 0, 1);
}

h2 {
  font-weight: bold;
  font-size: 30px;
}

h3 {
  font-size: 40px;
  font-weight: bold;
}

.star {
  position: absolute;
  left: calc(36% + 20px);
  top: 12px;
  animation: sparkle 2s infinite alternate;
}

.star2 {
  position: absolute;
  left: calc(40% + 20px);
  top: -2px;
  animation: sparkle 2s infinite alternate;
  animation-delay: 1s;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

p {
  overflow: hidden;
}

button {
  background: #d123b2;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: 200ms;
}

button:hover {
  background: #a02c8b;
}

.link-border {
  position: relative;
  padding-bottom: 2px;
}

.link-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.link-border:hover::after {
  transform: scale(1);
}

.link-project {
  font-size: 14px;
}

.nav-link {
  font-size: 32px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Radley", serif;
  transition: transform 0.6s cubic-bezier(0.45, 0, 0, 1);
}

.name-project {
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 100%;
}

.tech {
  text-transform: none;
  color: #948fae;
  font-size: 16px;
}

.project {
  border-radius: 16px;
  border: 1px solid #4b4958;
  background: #dc9bd033;
  box-shadow: 0 4px 30px #232034;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.45s ease-in-out;
}

.overlay:hover {
  opacity: 1;
  background: #0d0628e6;
}

::-webkit-scrollbar {
  width: 7px;
  background: #98a0fd3c;
}
::-webkit-scrollbar-thumb {
  border: solid 0 transparent;
  background-color: #d9eff912;
}

@media only screen and (min-width: 768px) {
  h3 {
    font-size: 50px;
  }

  .name {
    font-size: 50px;
  }

  h2 {
    font-size: 38px;
  }

  h4 {
    font-size: 24px;
  }

  a {
    font-size: 18px;
  }

  button {
    font-size: 18px;
  }

  .projects {
    display: flex;
  }

  .link-project {
    font-size: 18px;
  }

  .bloc-projects {
    max-width: 100%;
  }

  .nav-link {
    font-size: 52px;
  }
}

@media only screen and (min-width: 373px) {
  .star {
    left: calc(24% + 20px);
  }

  .star2 {
    left: calc(29% + 20px);
  }
}
